/* ====== GLOBAL STYLES ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0a0a0a;
    color: #ffffff;
    text-align: center;
}

/* ====== HEADER ====== */
header {
    padding: 30px;
    background: #111;
    border-bottom: 3px solid blue;
}

header h1 {
    font-size: 2.5rem;
    color: blue;
    text-shadow: 0 0 10px blue;
    font-family: 'Times New Roman', Times, serif;
}

header p {
    color: #ccc;
    font-family: 'Times New Roman', Times, serif;
}

/* ====== HERO SECTION ====== */
.hero {
    margin-top: 40px;
}

.profile-pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid blue;
    box-shadow: 0 0 25px blue;
    object-fit: cover;
    transition: 0.3s;
}

.profile-pic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px blue;
}

.hero h2 {
    margin-top: 15px;
    font-size: 2rem;
    color: white;
}

.hero p {
    color: #bbb;
}

/* ====== ABOUT SECTION ====== */
.about {
    margin-top: 60px;
    padding: 20px;
    background: #111;
    border-left: 4px solid blue;
    border-right: 4px solid blue;
}

.about h2 {
    color: blue;
    text-shadow: 0 0 10px blue;
}

.about p {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #ccc;
}

/* ====== PROJECTS ====== */
.projects {
    margin-top: 60px;
}

.projects h2 {
    color: blue;
    text-shadow: 0 0 10px blue;
}

.project-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    width: 250px;
    height: 150px;
    background: #151515;
    border: 3px solid blue;
    box-shadow: 0 0 15px blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 1.2rem;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.project-content {
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: 0.3s;
  color: white;
  flex-wrap: wrap;
  font-family: 'Times New Roman', Times, serif;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px blue;
}

/* ====== CONTACT SECTION ====== */
.contact {
    margin-top: 60px;
    padding: 20px;
    background: #111;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
}

.contact h2 {
    color: blue;
    text-shadow: 0 0 10px blue;
}

.contact p {
    margin-top: 8px;
    color: #ccc;
}

/* ====== FOOTER ====== */


